<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/home" module="Afficher" action="home"/>
    <route url="/paiement" module="Paiement" action="index"/>
    <route url="/paiement/cinet" module="Paiement" action="cinet"/>

    <route url="/logout" module="Connexion" action="logout"/>
    <route url="/Profile" module="Connexion" action ="Profile"/>
    <route url="/CheckPassword" module="Connexion" action="CheckPassword"/>
    <route url="/NewPassword" module="Connexion" action="NewPassword"/>
    <route url="/ValidPassword" module="Connexion" action="ValidPassword"/>
    <route url="/admin/utilisateurs/liste" module="Connexion" action="Pannel"/>
    <route url="/admin/utilisateurs/add" module="Connexion" action="addUsers"/>
    <route url="/deleteUsers/([0-9]+)" module="Connexion" vars="id" action="deleteusers"/>
    <route url="/editUsers/([0-9]+)" module="Connexion" vars="id" action="editUsers"/>
    <route url="/updateUsers" module="Connexion" action="updateUsers"/>
</routes>